<div
  class="relative flex flex-col h-screen w-full overflow-hidden p-5
        "
>
  <div class="flex items-center  gap-3 mb-6 cursor-pointer">
    <div class="h-9 w-9 flex items-center justify-center rounded-xl
                bg-black/40 border border-white/10 shadow-inner">
      <svg fill="none" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
        <path
          clip-rule="evenodd"
          fill="none"
          fill-rule="evenodd"
          stroke="white"
          stroke-opacity="0.9"
          stroke-width="2"
          d="M12.0799 24L4 19.2479L9.95537 8.75216L18.04 13.4961L18.0446 4H29.9554L29.96 13.4961L38.0446 8.75216L44 19.2479L35.92 24L44 28.7521L38.0446 39.2479L29.96 34.5039L29.9554 44H18.0446L18.04 34.5039L9.95537 39.2479L4 28.7521L12.0799 24Z"
        />
      </svg>
    </div>

    <div class="text-2xl font-semibold tracking-tight text-white/90">
      Descripta
    </div>
  </div>

      <nav class="flex-1 px-2 space-y-1 text-sm overflow-y-auto text-white">
        <a
          href="#"
          class="flex items-center gap-3 px-3 py-2 rounded-xl text-[#5C5D58] hover:bg-[#1F201D]"
          routerLink="/dashboard"
          routerLinkActive="bg-[#1F201D]"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span class="material-symbols-outlined">dashboard</span>
          <span>Dashboard</span>
        </a>
        <a
          href="#"
          class="flex items-center gap-3 px-3 py-2 rounded-xl text-[#5C5D58] hover:bg-[#1F201D]"
          routerLink="/dashboard/history"
          routerLinkActive="bg-[#1F201D]"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span class="material-symbols-outlined">history</span>
          <span>History</span>
        </a>
        <a
          href="#"
          class="flex items-center gap-3 px-3 py-2 rounded-xl text-[#5C5D58] hover:bg-[#1F201D]"
          routerLink="/dashboard/analyze-url"
          routerLinkActive="bg-[#1F201D]"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span class="material-symbols-outlined">credit_card</span>
          <span>Tools</span>
        </a>
        <a
          href="#"
          class="flex items-center gap-3 px-3 py-2 rounded-xl text-[#5C5D58] hover:bg-[#1F201D]"
          routerLink="/dashboard/profile"
          routerLinkActive="bg-[#1F201D]"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span class="material-symbols-outlined">person</span>
          <span>Profile</span>
        </a>
        <a
          href="#"
          class="flex items-center gap-3 px-3 py-2 rounded-xl text-[#5C5D58] hover:bg-[#1F201D]"
        >
          <span class="material-symbols-outlined">settings</span>
          <span>Settings</span>
        </a>
      </nav>
      <!-- <app-notification-center></app-notification-center> -->
      <!-- Bottom Menu Item -->
      <div class="px-2 pb-4">
        <button
          class="flex items-center gap-3 px-3 py-2 rounded-xl text-[#5C5D58] hover:bg-[#1F201D]"
          (click)="logout()"
        >
          <span class="material-symbols-outlined">logout</span>
          <span>Logout</span>
        </button>
      </div>
    </div>

