      .material-symbols-outlined {
          font-variation-settings:
              'FILL' 0,
              'wght' 400,
              'GRAD' 0,
              'opsz' 24
      }

      .container {
        --form-width: 500px;
        --aspect-ratio: 1.33;
        --login-box-color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        background: var(--login-box-color);
        border-radius: 12px;
        width: calc(var(--form-width) + 2px);
        z-index: 8;
        box-shadow:
          0 4px 8px rgba(0, 0, 0, 0.2),
          0 8px 16px rgba(0, 0, 0, 0.2),
          0 0 8px rgba(255, 255, 255, 0.1),
          0 0 16px rgba(255, 255, 255, 0.08);
      }

      .container::before {
        content: "";
        position: absolute;
        inset: -100px;
        z-index: -2;
        background: conic-gradient(
            from 75deg,
            transparent 75%,
            rgba(255, 255, 255, 0.40),
            transparent 100%
        );
        animation: spin 4s ease-in-out infinite;
      }

      @keyframes spin {
        100% {
          transform: rotate(360deg);
        }
      }

      .login-box {
        background: var(--login-box-color);
        border-radius: 12px;
        padding: 28px;
        width: var(--form-width);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        box-shadow:
          inset 0 40px 60px -8px rgba(255, 255, 255, 0.12),
          inset 4px 0 12px -6px rgba(255, 255, 255, 0.12),
          inset 0 0 12px -4px rgba(255, 255, 255, 0.12);
      }
