<div class="h-16 flex items-center justify-center border-b">
  <h1 class="text-xl font-bold text-indigo-600">Admin Portal</h1>
</div>

<nav class="mt-4">
  <ul>
    <li>
      <a
        routerLink="/admin/dashboard"
        routerLinkActive="active-link"
        class="flex items-center px-6 py-3 hover:bg-gray-100 text-gray-700"
      >
        <span class="material-symbols-outlined mr-3">dashboard</span>
        Dashboard
      </a>
    </li>

    <li>
      <a
        routerLink="/admin/users"
        routerLinkActive="active-link"
        class="flex items-center px-6 py-3 hover:bg-gray-100 text-gray-700"
      >
        <span class="material-symbols-outlined mr-3">group</span>
        User Management
      </a>
    </li>

    <li>
      <a
        routerLink="/admin/video"
        routerLinkActive="active-link"
        class="flex items-center px-6 py-3 hover:bg-gray-100 text-gray-700"
      >
        <span class="material-symbols-outlined mr-3">video_library</span>
        Video Analysis Logs
      </a>
    </li>

    <li>
      <a
        routerLink="/admin/billing"
        routerLinkActive="active-link"
        class="flex items-center px-6 py-3 hover:bg-gray-100 text-gray-700"
      >
        <span class="material-symbols-outlined mr-3">add_card</span>
        Billing & Plans
      </a>
    </li>

    <li>
      <a
        routerLink="/admin/usage"
        routerLinkActive="active-link"
        class="flex items-center px-6 py-3 hover:bg-gray-100 text-gray-700"
      >
        <span class="material-symbols-outlined mr-3">file_json</span>
        API & Usage Settings
      </a>
    </li>
    <li>
      <a
        routerLink="/admin/analytics"
        routerLinkActive="active-link"
        class="flex items-center px-6 py-3 hover:bg-gray-100 text-gray-700"
      >
        <span class="material-symbols-outlined mr-3">analytics</span>
        Reports & Analytics
      </a>
    </li>
    <li>
      <a
        routerLink="/admin/logs"
        routerLinkActive="active-link"
        class="flex items-center px-6 py-3 hover:bg-gray-100 text-gray-700"
      >
        <span class="material-symbols-outlined mr-3">browse_activity</span>
        System Errors & Logs
      </a>
    </li>
    <li>
      <a
        routerLink="/admin/settings"
        routerLinkActive="active-link"
        class="flex items-center px-6 py-3 hover:bg-gray-100 text-gray-700"
      >
        <span class="material-symbols-outlined mr-3">settings</span>
        Admin Settings
      </a>
    </li>
  </ul>
</nav>
