<header class="h-16 flex items-center justify-between bg-white px-6 shadow">
  <button class="lg:hidden text-gray-600">
    <span class="material-icons text-3xl">menu</span>
  </button>

  <h2 class="text-lg font-semibold text-gray-700">Admin Panel</h2>

  <div class="flex items-center space-x-4">
    <span class="material-symbols-outlined text-text-secondary-light dark:text-text-secondary-dark"
      >account_circle</span
    >
    <span class="material-symbols-outlined text-text-secondary-light dark:text-text-secondary-dark"
      >notifications</span
    >
  </div>
</header>
